.md-typeset table:not([class]) th {
    min-width: 0rem;
}
.md-nav__link--active {
    color: inherit;
}
blockquote.page-copyright {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #ff1700; /* Just change the color value and that's it*/
}
.gt-container .gt-meta {
    z-index: auto !important;
}

/* 文档内图片居中 */
.md-typeset img {
    display: block;
    margin: 0 auto;
}


/* 防盗水印
Author: Moxin
Date: 2026-01-30
Email: moxin1044@gmail.com
*/
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 2147483647;
    pointer-events: none;

    background-repeat: repeat;
    background-size: 240px 160px;   /* ⬅ 更密 */

    background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='240' height='160'>\
  <text x='50%' y='50%' \
        text-anchor='middle' \
        dominant-baseline='middle' \
        transform='rotate(-35 120 80)' \
        fill='rgba(0,0,0,0.015)' \
        font-size='26' \
        font-family='Segoe UI, Arial, sans-serif'>\
    青少年CTF文库\
  </text>\
</svg>");
}

