/* mkdocs-markmap 容器高度调整 */
.markmap {
  height: 80vh !important;   /* 视口高度的 80% */
  width: 100%;
}

/* SVG 自适应 */
.markmap > svg {
  width: 100% !important;
  height: 100% !important;
}

.language-markmap.mkdocs-markmap {
    height: 90vh !important;
    min-height: 600px !important; /* 保证最小高度 */
}
.language-markmap.mkdocs-markmap > svg {
    width: 100% !important;
    height: 100% !important;
}
